Repository unanbb/memoji, pull requests merged in 2025-05, with the labels that each got.

#4 design: MainLayout에 플러스 버튼 추가
  src/app/components/common/plusButton.tsx
  src/app/components/layout/GlobalPlustButton.tsx
  src/app/components/layout/MainLayout.tsx
Labels: design

#7 Design: MemoCard 컴포넌트 퍼블리싱
  package-lock.json
  package.json
  src/app/components/common/MemoCard.tsx
  src/app/globals.css
Labels: design

#10 design: MemoList 컴포넌트 퍼블리싱
  src/app/components/common/MemoCard.tsx
  src/app/components/common/MemoList.tsx
  src/app/page.tsx
  src/data/mocks.ts
  src/types/memo.ts
Labels: refactor, design

#11 design: SideBar 컴포넌트 퍼블리싱
  src/app/components/common/SearchBar.tsx
  src/app/components/layout/Header.tsx
  src/app/components/layout/MainLayout.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/common/SearchBar.tsx
  src/components/common/Separator.tsx
  src/components/common/plusButton.tsx
  src/components/layout/GlobalPlusButton.tsx
  src/components/layout/Header.tsx
  src/components/layout/MainLayout.tsx
  src/components/layout/ToggleSidebarButton.tsx
  src/components/layout/sidebar/CategoryItem.tsx
  src/components/layout/sidebar/Sidebar.tsx
  src/components/memo/MemoCard.tsx
  src/components/memo/MemoList.tsx
  src/data/mocks.ts
Labels: design

#16 fix: 헤더에 링크 너비를 크게 변경, PlusButton파일명 앞글자가 대문자가 되도록 수정
  .gitconfig
  package.json
  src/components/common/PlusButton.tsx
  src/components/layout/GlobalPlusButton.tsx
  src/components/layout/Header.tsx
Labels: bug

#18 design: CategoryList 컴포넌트 퍼블리싱
  src/app/globals.css
  src/components/category/CategoryList.tsx
  src/data/mocks.ts
Labels: design

#19 design: 모달 컴포넌트 추가
  .gitignore
  src/app/layout.tsx
  src/components/Modal.tsx
  src/components/ModalProvider.tsx
  src/components/layout/GlobalPlusButton.tsx
Labels: design

#28 refactor: memos 목데이터 -> API 데이터로 변경
  src/app/page.tsx
Labels: feature, refactor
