Repository unanbb/memoji, pull requests merged in 2025-06, with the labels that each got.

#49 bug: CategoryModal 스크롤 영역 수정
  src/components/category/CategoryModal.tsx
Labels: bug

#54 [feat] tanstack query 설정 및 tanstack으로 데이터 패칭 구현
  package-lock.json
  package.json
  src/action.ts
  src/app/getQueryClient.tsx
  src/app/page.tsx
  src/app/provider.tsx
  src/components/MarkdownEditor.tsx
  src/components/layout/MainLayout.tsx
  src/components/memo-editor/MemoCreateModal.tsx
  src/components/memo-editor/MemoErrorFallbackModal.tsx
  src/components/memo-editor/MemoLoadingModal.tsx
  src/components/memo-editor/MemoUpdateModal.tsx
  src/hooks/useDeleteMemo.ts
  src/hooks/useGetMemoById.ts
  src/hooks/usePostMemo.ts
  src/hooks/useUpdateMemo.ts
Labels: feature

#63 feat: 카테고리 수정 api 연동
  src/action.ts
  src/components/category/CategoryModal.tsx
Labels: feature

#67 refactor: toast 메시지에 커스텀 메시지를 받을 수 있도록 수정
  src/components/common/Toast.tsx
  src/components/toast/showToast.tsx
  src/types/toast.ts
Labels: refactor

#71 fix: 새 카테고리를 가진 메모 생성 시 MemoSection이 닫혔던 현상 수정
  src/components/memo/MemoSection.tsx
Labels: bug

#69 [feat] 스켈레턴 로딩 컴포넌트 추가 및 적용, 메모 수정 삭제시 toast 메시지
  package-lock.json
  src/components/MarkdownEditor.tsx
  src/components/common/Skeleton.tsx
  src/components/memo-editor/MemoCreateModal.tsx
  src/components/memo-editor/MemoEditorSkeleton.tsx
  src/components/memo-editor/MemoUpdateModal.tsx
  src/hooks/usePostMemo.ts
Labels: feature

#74 feat: 카테고리 생성/수정 시 값 검증하는 오류 메시지 구현
  src/action.ts
  src/components/category/CategoryModal.tsx
Labels: feature

#78 feat: 카테고리 업데이트 시, 낙관적 업데이트 적용
  src/components/category/CategoryModal.tsx
Labels: feature

#83 bug: 토스트 닫을 때, 전체 토스트가 닫히던 오류 수정
  src/components/toast/showToast.tsx
Labels: bug

#93 refactor: isOpen을 개별적으로 관리하는 MemoSection의 하위컴포넌트 MemoEachSection 생성
  src/components/memo/MemoEachSection.tsx
  src/components/memo/MemoSection.tsx
Labels: refactor

#98 fix: auth-middleware params 타입 수정
  src/app/api/categories/[categoryName]/route.ts
  src/app/api/memos/[id]/route.ts
  src/app/api/memos/restore/[id]/route.ts
  src/lib/auth-middleware.ts
Labels: fix

#109 fix: CategoryModal에 others가 렌더링되지 않도록 필터링
  src/components/category/CategoryModal.tsx
  src/hooks/useCategories.ts
Labels: fix

#113 feat: 카테고리별 동적 페이지 라우팅
  src/app/(category)/category/[category]/page.tsx
  src/app/(home)/page.tsx
  src/app/page.tsx
  src/components/ClientMemoSection.tsx
  src/components/memo-editor/MemoUpdateModal.tsx
  src/components/memo/MemoEachSection.tsx
  src/lib/fetchers.ts
Labels: feature

#133 feat: 카테고리 생성/수정 시 특수문자 포함 금지 조건 추가
  src/components/category/CategoryModal.tsx
Labels: fix

#135 feat: 카테고리 생성/수정 버튼 클릭 시 입력창에 자동 포커싱
  src/components/category/CategoryModal.tsx
Labels: feature

#137 fix: 카테고리 수정 시, 기존 값과 같으면 api 호출을 하지않도록 수정
  src/components/category/CategoryModal.tsx
Labels: fix

#139 bug: 카테고리 수정을 동시에 여러개 할 수 있던 오류 수정 및 수정/생성 중 하나만 가능하도록 변경
  src/components/category/CategoryModal.tsx
Labels: bug
